<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MealVille.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EE8E3DE7C3E83FF03DC16FA3D2D5CFC8395B0460</string>
				<key>dateExpires</key>
				<string>06/11/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8E3DE7C3E83FF03DC16FA3D2D5CFC8395B0460</string>
						<key>dateExpires</key>
						<string>06/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8E3DE7C3E83FF03DC16FA3D2D5CFC8395B0460</string>
						<key>dateExpires</key>
						<string>06/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8E3DE7C3E83FF03DC16FA3D2D5CFC8395B0460</string>
						<key>dateExpires</key>
						<string>06/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8E3DE7C3E83FF03DC16FA3D2D5CFC8395B0460</string>
						<key>dateExpires</key>
						<string>06/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MKOtpView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8E3DE7C3E83FF03DC16FA3D2D5CFC8395B0460</string>
						<key>dateExpires</key>
						<string>06/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MMDrawerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8E3DE7C3E83FF03DC16FA3D2D5CFC8395B0460</string>
						<key>dateExpires</key>
						<string>06/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OTPFieldView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8E3DE7C3E83FF03DC16FA3D2D5CFC8395B0460</string>
						<key>dateExpires</key>
						<string>06/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8E3DE7C3E83FF03DC16FA3D2D5CFC8395B0460</string>
						<key>dateExpires</key>
						<string>06/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2PV4857K82</string>
						<key>name</key>
						<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2PV4857K82.com.first.MealVille</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2PV4857K82</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>2PV4857K82.com.first.MealVille</string>
				</array>
			</dict>
			<key>name</key>
			<string>MealVille.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8b578f0e-f42a-4799-ae7e-cb545e487edb</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2PV4857K82</string>
				<key>name</key>
				<string>MECHCUBEI SOLUTIONS PRIVATE LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
